{% load static %}
{% load templates %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        {% block meta %}
        {% endblock %}
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> 
    </head>
    <body onload="ButtonsLoaded()">
    <header id="aber">
        <div class="menu" style="position: fixed;">
            <input title="Abrir menú" type="checkbox" id="checkbox_toggle">
            <label for="checkbox_toggle" class="button-menu" style="margin-left: 12px; margin-top: 40px; position: fixed; z-index: 100;">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div id="barra-lateral" >
                <a href="{% url 'inicio' %}" style="text-decoration: none;">
                    <div class="contenedor-barra" title="Tareas">
                        <div class="item-imagen">
                            <img src="{% static 'icons/icon-nota.png' %}" alt="" >
                        </div>
                        <div class="elemento-oculto">
                            <strong style="color: #353434;">Tareas</strong> 
                         </div>
                    </div>
                </a>
                <a href="{% url 'dashboard' %}" style="text-decoration: none;">
                    <div class="contenedor-barra" title="Dashboard">
                        <div class="item-imagen">
                            <img src="{% static 'icons/icon-dashboard.png' %}" alt="">
                        </div>
                        <div class="elemento-oculto">
                            <strong style="color: #353434;">Dashboard</strong>
                         </div>
                    </div>
                </a>
                <a href="https://campus0c.unad.edu.co/campus"target="_blank" style="text-decoration: none;">
                    <div class="contenedor-barra" title="Campus UNAD">
                        <div class="item-imagen">
                            <img alt="Logo UNAD" src="{% static 'icons/icon-unad.png' %}">
                        </div>
                        <div class="elemento-oculto">
                            <strong style="color: #353434;">Campus universitario</strong>
                         </div>
                    </div>
                </a>         
           </div>
        </div>
        <div style="margin-left: 10px;">
            <div class="contenedor-usuario">
                <img class="img-usuario" src="{% static 'icons/icon-user.png' %}" alt="">
                <div id="nombreUsuario" class="contenedor-nombre-usuario"><p>{{user}}</p></div>
            </div>
        </div>
        <div class="contenedor-botones-header">
            <div class="boton-notificaciones" id="dropdownMenuMensaje">
                <div class="dropdownMenu" onclick="expandirContenedorMensajes()">
                    <img class="dropp-img" src="{% static 'icons/icon-notificacion.png' %}" alt="">
                    {% if mensajesSinLeer %}
                    <div class="indicador-mensajes" id="indicador-mensajes"><div><p id="cantidad-de-mensajes">{{mensajesSinLeer|length}}</p></div></div>
                    {% endif %}
                </div>
                <div class="contenedor-mensajes contenedor-cerrado" id="contenedor-mensajes">
                    {% if mensajes %}
                    {% for mensaje in mensajes %}
                    <div class="mensaje-casilla cerrado" id="mensaje-notif-{{mensaje.id}}" onclick="expandirMensaje('mensaje-{{mensaje.id}}', '{{mensaje.id}}')">
                        <div class="mensaje-completo ">
                            <p><span class="estilo-mensaje">De: </span>{{mensaje.de}}</p>
                            <p><span class="estilo-mensaje">Asunto: </span>{{mensaje.asunto}}</p>
                            <p><span class="estilo-mensaje">Contenido: </span>{{mensaje.contenido}}</p>
                            <p><span class="estilo-mensaje">Recibido: </span>{{mensaje.fecha}}</p>
                        </div>
                        {% if mensaje.leido %}
                        {% else %}
                        <div class="nuevo-mensaje"><div class="mensaje-icon" id="mensaje-icon-{{mensaje.id}}"></div></div>
                        {% endif %}
                    </div>
                    <!-- --------------------- -->
                    <div class="divisor-mensajes"></div>
                    <!-- --------------------- -->
                    {% endfor %}
                    {% else %}
                    <div class="no-mensajes"><img class="img-noNotif" src="{% static 'icons/icon-emptyNotif.png' %}" alt=""><p>No hay mensajes</p></div>
                    {% endif %}
                </div>
            </div>
            <div class="dropdown noclic " id="menu-usuario"> <!-- Menu desplegable del usuario-->
                <a title="Expandir menú" href="#" class=" dropdownMenu " id="dropdownMenuLink" data-bs-toggle="dropdown" onclick="expandirMenuUsuario()"><img src="{% static 'icons/icon-dropdown.png' %}" alt=""></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="contenedor-usuario-menu"> <!-- boton para salir-->
                    <ul class="contenedor-ul-items">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">salir</a></li>
                        {% if user.is_staff %}
                        <li><a class="dropdown-item" href="/admin">Panel de administración</a></li>   
                        {% endif %}         
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div style="display:flex; justify-content: center; padding-top: 90px; min-height: 100vh;">
        <div class="contenido container-sm" style=" margin-bottom: 40px;">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="botones">
        <div class="boton-desplegar boton-desplegar-reporte">
            <a title="Reportar error" class="sin-decoracion" href="{% url 'reportarBug' %}">            
                <div style="display: flex; width: 180px;">    
                    <div class="img-bugs">    
                        <img src="{% static 'icons/icon-bug.png' %}" style="width: 30px; height: 30px;" alt="">    
                    </div>    
                    <div class="agregar-texto">    
                        <div><p>Reportar un bug</p></div>    
                    </div>    
                </div>                
            </a>    
        </div>    
    </div>
    <footer>
        <p>Creado por José David Rendón Maca</p>
    </footer>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/base.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>