{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="{% static '/' %}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> 
        <script src="{% static 'js/base.js' %}"></script>
    </head>
    <body onload="ButtonsLoaded()">
    <header id="aber">
        <div class="menu" style="position: fixed;">
            <input type="checkbox" id="checkbox_toggle">
            <label for="checkbox_toggle" class="button-menu" style="margin-left: 12px; margin-top: 40px; position: fixed; z-index: 100;">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div id="barra-lateral" >
                <a href="{% url 'inicio' %}" style="text-decoration: none;">
                    <div class="contenedor-barra" title="Tareas">
                        <div class="item-imagen">
                            <img src="{% static 'icons/icon-nota.png' %}" alt="" >
                        </div>
                        <div class="elemento-oculto">
                            <strong style="color: #353434;">Tareas</strong> 
                         </div>
                    </div>
                </a>
                <a href="{% url 'dashboard' %}" style="text-decoration: none;">
                    <div class="contenedor-barra" title="Dashboard">
                        <div class="item-imagen">
                            <img src="{% static 'icons/icon-dashboard.png' %}" alt="">
                        </div>
                        <div class="elemento-oculto">
                            <strong style="color: #353434;">Dashboard</strong>
                         </div>
                    </div>
                </a>
                <a href="https://campus0c.unad.edu.co/campus"target="_blank" style="text-decoration: none;">
                    <div class="contenedor-barra" title="Campus UNAD">
                        <div class="item-imagen">
                            <img src="{% static 'icons/icon-unad.png' %}">
                        </div>
                        <div class="elemento-oculto">
                            <strong style="color: #353434;">Campus universitario</strong>
                         </div>
                    </div>
                </a>
                
           </div>
        </div>
        <div style="display:flex; flex-direction: row; align-items: center; font-size: 28px; margin-left: 10px;">
            <div style="color: rgb(92, 92, 92);">
                <img style="width: 40px;" src="{% static 'icons/icon-user.png' %}" alt="">
                {{user}}
            </div>
            
            
        </div>
        <div class="contenedor-botones-header">
            <div class="boton-mensajes noclic"> <!-- Menu desplegable del usuario-->
                <div></div>
            </div>
            <div class="dropdown noclic " id="menu-usuario"> <!-- Menu desplegable del usuario-->
                <a href="#" class="btn  " id="dropdownMenuLink" data-bs-toggle="dropdown"><img src="{% static 'icons/icon-dropdown.png' %}" alt=""></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"> <!-- boton para salir-->
                    <li><a class="dropdown-item" href="{% url 'logout' %}">salir</a></li>
                    {% if user.is_staff %}
                    <li><a class="dropdown-item" href="/admin">Panel de administración</a></li>   
                    {% endif %}         
                </div>
            </div>
        </div>
    </header>

    <div style="display:flex; justify-content: center; padding-top: 90px; min-height: 100vh;">
        <div class="contenido container-sm" style=" margin-bottom: 40px;">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer>
        <p>Creado por José David Rendón Maca</p>
    </footer>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>