{% extends 'index/base.html' %}
{% load static %}
{% block content %}
{% load templates %}


<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>  
    
</head>

<div class="contenedor-tareas">


    {% for curso in cursosDisponibles %}
    {% if curso %}
    <div class="contenedor-contenedores-graficas" >
        <div class="titulo-graficas"><h2><strong>{{curso}}</strong></h2></div>
        
        <div class="contenedor-graficas">
            <div class="contenedor-graficaLineal">
                
                <canvas id="grafica-{{curso}}" class="graficoLineal" ></canvas>
                <script> crearLinea('{{curso}}', '{% autoescape off %}{% obtenerValoresGraficaLineal request curso %} {% endautoescape %}') </script>
    
            </div>
            <div class="conjunto-de-graficas">
                <div class="grafico-circular">
                    <canvas id="grafica-circular-{{curso}}" max-width="80%" max-height="200px"></canvas>
                    <div class="leyenda">
                        <div class="contenedor-leyenda">
                            <div class="icon-leyenda verde"></div><p id="texto-circular-verde-{{curso}}"></p>
                        </div>    
                        <div class="contenedor-leyenda">
                            <div class="icon-leyenda rojo"></div><p id="texto-circular-rojo-{{curso}}"></p>
                        </div>
                        <div class="contenedor-leyenda">
                            <div class="icon-leyenda amarillo"></div><p id="texto-circular-amarillo-{{curso}}"></p>
                        </div>
                    </div>
                    <script> crearDonut('{{curso}}', '{% obtenerValoresDeCalificacion request curso %}') </script>
                </div> 
                <div class="grafico-circular">
                    <canvas id="grafica-circular2-{{curso}}" max-width="80%" max-height="200px"></canvas>
                    <div class="subtitulo-circular"><p id="texto-circular-{{curso}}">20%</p></div>
                    <script> crearDonutProgreso('{{curso}}', '{% obtenerProgreso request curso %}') </script>
                </div>  

            </div>

        </div>
        
        
    </div>
    {% endif %}
      
    {% endfor %}

</div>


<div id="botones">
    <div class="boton-desplegar boton-configuracion boton-configuracion-hover">
            <div style="display: flex;">
                <div class="img-bugs">
                    <img src="{% static 'icons/icon-config.png' %}" style="width: 30px; height: 30px;" alt="">
                </div>
                <div class="contenedor-busqueda">
                    <div class="configuracion">
                        <p class="titulo-contenedor-busqueda"><strong>Cursos visibles</strong></p>
                        <input type="text" id="busqueda-de-cursos" onkeyup="buscadorDeCursos()" placeholder="Busqueda" autocomplete="nope">
                        <div class="botones-select">
                            <div id="boton-select-all" onclick="selectAll(true)">Todo</div>
                            <div id="boton-unselect-all" onclick="selectAll(false)">Nada</div>
                        </div>
                        <form action="/actualizarConfigDashboard/" method="post">
                            {% csrf_token %}
                            <div class="contenedor-checkboxes">
                                {% for curso in todosLosCursos %}
                                    <div class="casilla-contenedor " id="{{curso | lower}}"  onclick="clickCheckbox('{{curso}}')">
                                        <input  type="checkbox" name="{{curso | lower}}" id="checkbox-{{curso | lower}}" class="checkboxAll">
                                        <label for="{{curso}}" class="casilla-curso">{{curso | lower}}</label>
                                        <div><img class="botones-img" src="{% static 'icons/icon-check.png' %}" alt=""></div>
                                        <script>comprobarChecked('{{curso | lower}}', '{%  comprobarCheckedDB request curso %}')</script>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="boton-submit-busqueda"><button type="submit" class="boton-sin-estilo">
                                <img src="{% static 'icons/icon-ok.png' %} " class="botones-img" alt="">
                            </button></div>
                            
                    
                        </form>
                        
                    </div>
                </div>
            </div>
    </div>
    <div class="boton-desplegar boton-desplegar-reporte">
        <a class="sin-decoracion" href="#abrir-reportes">
            <div style="display: flex; width: 180px;">
                <div class="img-bugs">
                    <img src="{% static 'icons/icon-bug.png' %}" style="width: 30px; height: 30px;" alt="">
                </div>
                <div class="agregar-texto ">
                    <div><p>Reportar un bug</p></div>
                </div>
            </div>
        </a>
    </div>

</div>
</div>

{% endblock %}