{% extends 'index/base.html' %}
{% load static %}
{% block content %}
{% load templates %}


<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    
</head>

<div class="contenedor-tareas">


    {% for curso in cursosDisponibles %}
    <div class="contenedor-contenedores-graficas" >
        <div class="titulo-graficas"><h2><strong>{{curso}}</strong></h2></div>
        
        <div class="contenedor-graficas">
            <div class="contenedor-graficaLineal">
                
                <canvas id="grafica-{{curso}}" max-width="80%" max-height="200px"></canvas>
                <script> crearLinea('{{curso}}') </script>
    
            </div>
            <div class="conjunto-de-graficas">
                
                <div class="grafico-circular">
                    
                </div>  
                <div class="grafico-circular">
                    <div class="delimitador"></div>
                    <div class="prueba"></div>
                    <div class="barraProgreso" id="barra-mostrar-{{curso}}"></div>
                    <div class="interior"></div> 
                    <div class="numero"><p id="numero-mostrar-{{curso}}"></p><p class="numero-simbol">%</p></div>
                    <div class="titulo-grafico-circular"><p>Progreso</p></div>
                    <script> mostrarBarra("{{curso}}", '{% obtenerProgreso request curso %}'); </script>
                </div>  

            </div>

        </div>
        
        
    </div>  
    {% endfor %}

</div>

<!--
<div class="grafico-circular">

    <div class="delimitador"></div>
    <div class="prueba"></div>
    <div class="barra1" id="barra-mostrar"></div>
    <div class="interior"></div>
    <div class="numero"><p id="numero-mostrar"></p><p class="numero-simbol">%</p></div>
    <div class="titulo-grafico-circular"><p>Progreso</p></div>
    <script> mostrarBarra(id, 70) </script>

</div>
-->

{% endblock %}