{% extends 'index/base.html' %}
{% load static %}
{% block content %}
{% load templates %}


<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    
</head>

<div class="contenedor-tareas">


    

</div>

<!--
<div class="grafico-circular">

    <div class="delimitador"></div>
    <div class="prueba"></div>
    <div class="barra1" id="barra-mostrar"></div>
    <div class="interior"></div>
    <div class="numero"><p id="numero-mostrar"></p><p class="numero-simbol">%</p></div>
    <div class="titulo-grafico-circular"><p>Progreso</p></div>
    <script> mostrarBarra(id, 70) </script>

</div>
-->

{% endblock %}