{% extends 'index/base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}


<link rel="stylesheet" href="{% static 'css/index.css' %}">

<div style="display: flex; flex-direction: column; align-items: center; width: 100%;color:#4b4b4b ; ">

    <!-- Contenedor para tareas que no se han comenzado -->
    <br><h2><strong onclick="colapsarContenedorTarea('Contenedor-Comenzar', 'titulo-comenzar-tarea', 'titulo-icon-comenzar')" class="titulo" id="titulo-comenzar-tarea" >Tareas sin comenzar <img class="titulo-icon" id="titulo-icon-comenzar" src="{%  static 'icons/icon-dropdown.png'  %}" alt=""></strong></h2>

    <div class="contenedor-contenedores " id="Contenedor-Comenzar">
            
        
            {% for tarea in formTareasPendientes %}

                {% for dias in diasRestantes %}

                    {% if dias.0 == tarea.id %}
                    
                        {% if dias.1 < 0 %}

                            <div class="contenedor-tarea" style="background-color: rgb(255, 255, 255);">

                        {% elif dias.1 >= 0 %}
                                
                                {% if dias.1 <= 3 %}

                                <div class="contenedor-tarea" style="background-color: var(--colorMuyPocoTiempo);">
                                
                                {% elif dias.1 <= 7 %}

                                    <div class="contenedor-tarea" style="background-color: var(--colorMedioTiempo);">
                            
                                {% else %}
                                    <div class="contenedor-tarea" style="background-color: var(--colorSuficienteTiempo);">

                        {% endif %}
                    
                    {% endif %}

                {% endif %}

            {% endfor %}


                <div class="contenedor-curso-tarea">

                    <p  class="separacion"><strong>{{ tarea.curso }} - {{ tarea.tarea }}</strong></p>

                </div>

                <div>
                                        
                    <p >Valor: {{tarea.valor}} puntos</p>
        
                    <p class="separacion">Fecha de entrega: {{tarea.entrega}}</p> 

                    <div class="contenedor-dias-botones">


                        {% for dias in diasRestantes %}

                            {% if dias.0 == tarea.id %}
                            
                                {% if dias.1 < 0 %}

                                    <p>Plazo finalizado</p>
                                
                                {% else %}

                                    <p>{{ dias.1 }} Dias restantes</p>
                                
                                {% endif %}
                            
                            {% endif %}

                        {% endfor %}


                        <div class="botones">
                            
                            <div onclick="scriptBackground('{{tarea.id}}')" style="margin-right:15px ;"><a id="mensaje-{{tarea.id}}" class="" data-bs-toggle="collapse" href="#expandir-{{tarea.id}}" aria-expanded="false"><img style="width: 25px; height: 25px;" title="Editar" src="{% static 'icons/icon-topic.png' %}" alt=""></a></div>

                            <div style="margin-right: 10px;"><a href="{%  url 'editarTarea' tarea.id %}"><img style="width: 25px; height: 25px;" title="Editar" src="{% static 'icons/icon-edit.png' %}" alt=""></a></div><br> <br>
                
                            <div><a href="{%  url 'borrarCurso' tarea.id %}"><img style="width: 25px; height: 25px;" title="Editar" src="{% static 'icons/icon-borrar.png' %}" alt=""></a></div><br> <br>
                            
                        </div>

                        <div class="" id="pantalla-desenfoque" ></div>

                        <div class="collapse collapse1 "  id="expandir-{{tarea.id}}">

                            <div style="width:100%; height: 30px; display: flex; justify-content: right; background-color: rgb(37, 37, 37);">
                            
                                <div onclick="noScriptBackground('{{tarea.id}}')" ><img style="width: 25px; height: 25px;" src="{% static 'icons/icon-cancel.png' %}" alt=""></div>

                            </div>
    
                            <div class="contenedor-contenido-anotacion" >
                                
                                <div id="anotacion-actual-{{tarea.id}}" >

                                    {% if tarea.anotacion == "" %}
                                        <p style="height:252px ; margin-bottom: 0px; padding: 9px 13px;">No hay anotaciones</p>
                                    {% else %}
                                        <textarea style="color: black; height:252px ; margin-bottom: 0px; padding: 9px 13px; width: 100%;" disabled>{{tarea.anotacion}}</textarea>
                                        <!--<p style="height:252px ; margin-bottom: 0px; padding: 9px 13px;">{{tarea.anotacion}}</p> -->
                                    {% endif %}
                                    
                                    
                                    <div style="display:flex; justify-content: center;">

                                        <button style="border: none; background-color: rgba(255, 0, 0, 0);" onclick="AbrirEditor('{{tarea.id}}')"> <img style="width: 25px; height: 25px;" title="Editar" src="{% static 'icons/icon-edit.png' %}" alt=""></button>

                                    </div>

                                </div>

                                <form id="id-form-anotacion-{{tarea.id}}" action="actualizarAnotacion/" method="POST">

                                    {% csrf_token %}

                                    <div id="field-anotacion-{{tarea.id}}" >

                                        <textarea style="height: 252px; line-height: 20px; padding: 9px 13px; margin-bottom: 5px;" name="anotacion" maxlength="10000" placeholder="{{tarea.anotacion}}" class="form-control textarea-anotacion" required id="id_anotacion">{{tarea.anotacion}}</textarea>

                                        <input type="hidden" value="{{tarea.id}}" name="id">
                                    </div>

                                    <div style="display: flex; justify-content: center;">

                                        <button type="submit" style="border: none; background-color:rgba(255, 0, 0, 0);"><img style="width:25px; height: 25px;" src="{% static 'icons/icon-ok.png' %}" alt=""></button>

                                        <a onclick="noScriptBackground('{{tarea.id}}')"><img style="width: 25px; height: 25px;" src="{% static 'icons/icon-cancel.png' %}" alt=""></a>

                                        <input type="reset" style="display: none;" id="reset-btn-{{tarea.id}}">

                                    </div>
                                </form>


                              </div>    
    
                        </div>
                        
                        
                    </div>
                    

                </div>
                
                

            </div>

            {% endfor %}        

    </div>

    <br><h2><strong class="titulo" onclick="colapsarContenedorTarea('Contenedor-Proceso', 'titulo-proceso-tarea', 'titulo-icon-proceso')" id="titulo-proceso-tarea">Tareas en proceso <img class="titulo-icon" id="titulo-icon-proceso" src="{%  static 'icons/icon-dropdown.png'  %}" alt=""></strong></h2> 




 <!--  ---------------------------------------------------------  -->



    <div class="contenedor-contenedores" id="Contenedor-Proceso">
        
            {% for tarea in formTareasProceso %}
            
                {% for dias in diasRestantesProceso %}

                        {% if dias.0 == tarea.id %}
                        
                            {% if dias.1 < 0 %}

                                <div class="contenedor-tarea" style="background-color: rgb(255, 255, 255);">
                            
                            {% endif %}

                            {% if dias.1 >= 0 %}
                                    
                                    {% if dias.1 <= 3 %}

                                    <div class="contenedor-tarea" style="background-color: var(--colorMuyPocoTiempo);">
                            
                                    {% endif %}

                            {% endif %}
                            {% if dias.1 > 3 %}
                                    
                                    {% if dias.1 <= 7 %}

                                    <div class="contenedor-tarea" style="background-color: var(--colorMedioTiempo);">
                            
                                    {% endif %}

                            {% endif %}
                            {% if dias.1 > 7 %}

                                <div class="contenedor-tarea" style="background-color: var(--colorSuficienteTiempo);">

                            {% endif %}
                        
                        {% endif %}

                    {% endfor %}

                    <div class="contenedor-curso-tarea">

                        <p  class="separacion"><strong>{{ tarea.curso }} - {{ tarea.tarea }}</strong></p>
    
                    </div>
    
                    <div>
                                            
                        <p >Valor: {{tarea.valor}} puntos</p>
            
                        <p class="separacion">Fecha de entrega: {{tarea.entrega}}</p> 
    
                        <div class="contenedor-dias-botones">

                            {% for dias in diasRestantesProceso %}

                                {% if dias.0 == tarea.id %}
                                
                                    {% if dias.1 < 0 %}

                                        <p>Plazo finalizado</p>
                                    
                                    {% endif %}

                                    {% if dias.1 >= 0 %}

                                        <p>{{ dias.1 }} Dias restantes</p>
                                    
                                    {% endif %}

                                {% endif %}

                            {% endfor %}

                        <div class="botones">
                            
                            <div onclick="scriptBackground('{{tarea.id}}')" style="margin-right:15px ;"><a id="mensaje-{{tarea.id}}" class="" data-bs-toggle="collapse" href="#expandir-{{tarea.id}}" aria-expanded="false"><img style="width: 25px; height: 25px;" title="Editar" src="{% static 'icons/icon-topic.png' %}" alt=""></a></div>

                            <div style="margin-right: 10px;"><a href="{%  url 'editarTarea' tarea.id %}"><img style="width: 25px; height: 25px;" title="Editar" src="{% static 'icons/icon-edit.png' %}" alt=""></a></div><br> <br>
                
                            <div><a href="{%  url 'borrarCurso' tarea.id %}"><img style="width: 25px; height: 25px;" title="Editar" src="{% static 'icons/icon-borrar.png' %}" alt=""></a></div><br> <br>
                            
                        </div>

                        <div class="" id="pantalla-desenfoque" ></div>

                        <div class="collapse collapse1 "  id="expandir-{{tarea.id}}">

                            <div style="width:100%; height: 30px; display: flex; justify-content: right; background-color: rgb(37, 37, 37);">
                            
                                <div onclick="noScriptBackground('{{tarea.id}}')" ><img style="width: 25px; height: 25px;" src="{% static 'icons/icon-cancel.png' %}" alt=""></div>

                            </div>
    
                            <div class="contenedor-contenido-anotacion" >
                                
                                <div id="anotacion-actual-{{tarea.id}}" >

                                    {% if tarea.anotacion == "" %}
                                        <p style="height:252px ; margin-bottom: 0px; padding: 9px 13px;">No hay anotaciones</p>
                                    {% else %}
                                        <textarea style="color: black; height:252px ; margin-bottom: 0px; padding: 9px 13px; width: 100%;" disabled>{{tarea.anotacion}}</textarea>
                                        <!--<p style="height:252px ; margin-bottom: 0px; padding: 9px 13px;">{{tarea.anotacion}}</p> -->
                                    {% endif %}
                                    
                                    
                                    <div style="display:flex; justify-content: center;">

                                        <button style="border: none; background-color: rgba(255, 0, 0, 0);" onclick="AbrirEditor('{{tarea.id}}')"> <img style="width: 25px; height: 25px;" title="Editar" src="{% static 'icons/icon-edit.png' %}" alt=""></button>

                                    </div>

                                </div>

                                <form id="id-form-anotacion-{{tarea.id}}" action="actualizarAnotacion/" method="POST">

                                    {% csrf_token %}

                                    <div id="field-anotacion-{{tarea.id}}" >

                                        <textarea style="height: 252px; line-height: 20px; padding: 9px 13px; margin-bottom: 5px;" name="anotacion" maxlength="10000" placeholder="{{tarea.anotacion}}" class="form-control textarea-anotacion" required id="id_anotacion">{{tarea.anotacion}}</textarea>

                                        <input type="hidden" value="{{tarea.id}}" name="id">
                                    </div>

                                    <div style="display: flex; justify-content: center;">

                                        <button type="submit" style="border: none; background-color:rgba(255, 0, 0, 0);"><img style="width:25px; height: 25px;" src="{% static 'icons/icon-ok.png' %}" alt=""></button>

                                        <a onclick="noScriptBackground('{{tarea.id}}')"><img style="width: 25px; height: 25px;" src="{% static 'icons/icon-cancel.png' %}" alt=""></a>

                                        <input type="reset" style="display: none;" id="reset-btn-{{tarea.id}}">

                                    </div>
                                </form>


                              </div>    
    
                        </div>
                        
                        
                    </div>
                    

                </div>
                
                

            </div>


            {% endfor %}        

    </div>

    <br><h2><strong onclick="colapsarContenedorTarea('Contenedor-Terminado', 'titulo-terminado-tarea', 'titulo-icon-terminado')" id="titulo-terminado-tarea" class="titulo">Tareas terminadas <img class="titulo-icon" id="titulo-icon-terminado" src="{%  static 'icons/icon-dropdown.png'  %}" alt=""></strong></h2> 




    <!--  ---------------------------------------------------------  -->
   
   
   
       <div class="contenedor-contenedores" id="Contenedor-Terminado" style="margin-bottom: 30px;">
           
               {% for tarea in formTareasTerminadas %}
               
                <div class="contenedor-tarea" style="background-color: rgb(255, 255, 255);">
   
                       <div class="contenedor-curso-tarea">
   
                           <p  class="separacion"><strong>{{ tarea.curso }} - {{ tarea.tarea }}</strong></p>
       
                       </div>
       
                       <div>
                                               
                           <p >Valor: {{tarea.valor}} puntos</p>
               
                           <p class="separacion">Fecha de entrega: {{tarea.entrega}}</p> 
       
                           <div class="contenedor-dias-botones">
   
                                <p>Plazo finalizado</p>
   
                                <div class="botones">
                                    
                                    <div onclick="scriptBackground('{{tarea.id}}')" style="margin-right:15px ;"><a id="mensaje-{{tarea.id}}" class="" data-bs-toggle="collapse" href="#expandir-{{tarea.id}}" aria-expanded="false"><img style="width: 25px; height: 25px;" title="Editar" src="{% static 'icons/icon-topic.png' %}" alt=""></a></div>
        
                                    <div style="margin-right: 10px;"><a href="{%  url 'editarTarea' tarea.id %}"><img style="width: 25px; height: 25px;" title="Editar" src="{% static 'icons/icon-edit.png' %}" alt=""></a></div><br> <br>
                        
                                    <div><a href="{%  url 'borrarCurso' tarea.id %}"><img style="width: 25px; height: 25px;" title="Editar" src="{% static 'icons/icon-borrar.png' %}" alt=""></a></div><br> <br>
                                    
                                </div>
        
                                <div class="" id="pantalla-desenfoque" ></div>
        
                                <div class="collapse collapse1 "  id="expandir-{{tarea.id}}">
        
                                    <div style="width:100%; height: 30px; display: flex; justify-content: right; background-color: rgb(37, 37, 37);">
                                    
                                        <div onclick="noScriptBackground('{{tarea.id}}')" ><img style="width: 25px; height: 25px;" src="{% static 'icons/icon-cancel.png' %}" alt=""></div>
        
                                    </div>
            
                                    <div class="contenedor-contenido-anotacion" >
                                        
                                        <div id="anotacion-actual-{{tarea.id}}" >
        
                                            {% if tarea.anotacion == "" %}
                                                <p style="height:252px ; margin-bottom: 0px; padding: 9px 13px;">No hay anotaciones</p>
                                            {% else %}
                                                <textarea style="color: black; height:252px ; margin-bottom: 0px; padding: 9px 13px; width: 100%;" disabled>{{tarea.anotacion}}</textarea>
                                                <!--<p style="height:252px ; margin-bottom: 0px; padding: 9px 13px;">{{tarea.anotacion}}</p> -->
                                            {% endif %}
                                            
                                            
                                            <div style="display:flex; justify-content: center;">
        
                                                <button style="border: none; background-color: rgba(255, 0, 0, 0);" onclick="AbrirEditor('{{tarea.id}}')"> <img style="width: 25px; height: 25px;" title="Editar" src="{% static 'icons/icon-edit.png' %}" alt=""></button>
        
                                            </div>
        
                                        </div>
        
                                        <form id="id-form-anotacion-{{tarea.id}}" action="actualizarAnotacion/" method="POST">
        
                                            {% csrf_token %}
        
                                            <div id="field-anotacion-{{tarea.id}}" >
        
                                                <textarea style="height: 252px; line-height: 20px; padding: 9px 13px; margin-bottom: 5px;" name="anotacion" maxlength="10000" placeholder="{{tarea.anotacion}}" class="form-control textarea-anotacion" required id="id_anotacion">{{tarea.anotacion}}</textarea>
        
                                                <input type="hidden" value="{{tarea.id}}" name="id">
                                            </div>
        
                                            <div style="display: flex; justify-content: center;">
        
                                                <button type="submit" style="border: none; background-color:rgba(255, 0, 0, 0);"><img style="width:25px; height: 25px;" src="{% static 'icons/icon-ok.png' %}" alt=""></button>
        
                                                <a onclick="noScriptBackground('{{tarea.id}}')"><img style="width: 25px; height: 25px;" src="{% static 'icons/icon-cancel.png' %}" alt=""></a>
        
                                                <input type="reset" style="display: none;" id="reset-btn-{{tarea.id}}">
        
                                            </div>
                                        </form>
        
        
                                        </div>    
            
                                </div>
                           
                           
                       </div>
                       
   
                   </div>
                   
                   
   
               </div>
   
   
               {% endfor %}        
   
       </div>
   

    <div id="boton-agregar-nuevo-curso">

        <a href="{% url 'agregarTarea' %}" style="text-decoration: none;">

            <div style="display: flex;">
                <div id="icon-agregar">
    
                    <p> + </p>
            
                </div>
                <div id="agregar-texto" >
                    <p>
                        Agregar    
                    </p>
                </div>
            </div>
            
        
        </a>
    
    </div>

</div>

<script type="text/javascript">

    function scriptBackground(name_id) {

        document.getElementById("pantalla-desenfoque").classList.add("desenfoque");

        document.getElementById("id-form-anotacion-"+name_id).style.display="none";

        document.getElementById("anotacion-actual-"+name_id).style.display="block";

        document.getElementById("reset-btn-"+name_id).click();    
    }

    function noScriptBackground(name_id) {

        document.getElementById("mensaje-"+name_id).click();

        document.getElementById("pantalla-desenfoque").classList.remove("desenfoque");

        document.getElementById("expandir-"+name_id).classList.remove("sobreponer");

        document.getElementById("anotacion-actual-"+name_id).style.display="none";
    }

    function AbrirEditor(name_id) {
        
        document.getElementById("anotacion-actual-"+name_id).style.display="none";

        document.getElementById("id-form-anotacion-"+name_id).style.display="block";
    }

    function colapsarContenedorTarea(contenedor, titulo, icon){
        var elemento = document.getElementById(contenedor);
        var titulo_elemento = document.getElementById(titulo);
        var icon_titulo = document.getElementById(icon);

        if (elemento.classList.contains('colapsar-css')){
            
            elemento.classList.remove('colapsar-css')
            titulo_elemento.style.opacity="100%";
            icon_titulo.style.transform= 'rotate(180deg)';

        } else {

            elemento.classList.add('colapsar-css')
            titulo_elemento.style.opacity="50%";
            icon_titulo.style.transform= 'rotate(0deg)';

        }

        

    }


</script>




{% endblock content %}