{% extends 'index/base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<div style="display: flex; flex-direction: column; align-items: center;">

    <div style=" margin-top: 20px;">

            {% for tarea in formTareasPendientes %}

            <div class="contenedor-tarea">

                <p>Curso: {{tarea.curso}}</p>
    
                <p>Tarea: {{tarea.tarea}}</p>
    
                <p>Valor: {{tarea.valor}} puntos</p>
    
                <p>Fecha de entrega: {{tarea.entrega}}</p> 
    
                <div><a href="{%  url 'editarTarea' tarea.id %}"><img style="width: 25px;" title="Editar" src="{% static 'icons/icon-edit.png' %}" alt=""></a></div><br> <br>
    
                <div><a href="{%  url 'borrarCurso' tarea.id %}"><img style="width: 25px;" title="Editar" src="{% static 'icons/icon-borrar.png' %}" alt=""></a></div><br> <br>

            </div>

            {% endfor %}        

    </div>

    <div id="boton-agregar-nuevo-curso">

        <a href="{% url 'agregarTarea' %}" style="text-decoration: none;">
        
            <div class="boton-agregar-curso">
                <div id="icon-agregar">
    
                    <p> + </p>
    
                </div>
    
                <div id="texto-agregar">
    
                    <p>Agregar</p>
    
                </div>
                
        
            </div>
        
        </a>
    
    </div>

</div>




{% endblock content %}