*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}


html{
    min-height: 100%;
}

header{
    background-color: #ffffff;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.137);
    position: fixed;
    z-index: 100;
    width: 100%;
}

body{
    background-color: #ecebe6 !important;
    min-height: 100%;
}

#img-admin{
    width: 30px;
}

.dropdownMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F0DF !important;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
}

.dropdownMenu:hover{
    background-color: #faf8f5 !important;
}

#dropdownMenuLink img{
    width: 10px;
}

.dropdown{
    right: 15px;
}

#checkbox_toggle{
    display: none;
}

.elemento-oculto{
    display: none;
    padding-left: 80px;
    font-size: 20px;
    min-width: 240px;
    white-space: nowrap;
}

#barra-lateral{
    top: 55px;
    position: fixed;
    height: 100%;
    width: 60px;
    background-color: #79b4b7;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding-top:100px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.137);
    z-index: 99;
    gap: 20px;
}

.item-imagen img{
    width: 40px;
    margin-left: 10px;
    transition: 0.3s;
}

.item-imagen{
    position: absolute;
}

.contenedor-barra{
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type=checkbox]:checked ~ #barra-lateral {
    width: 340px;
    overflow: hidden;
}
input[type=checkbox]:checked ~ label #imagen-menu {
    transform: matrix3d();
}

.contenido{
    max-width: 1000px;
    background-color: #fffdf9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-left: 80px !important;
    margin-right: 80px !important;
    animation-name: iniciar;
    animation-duration: 0.5s;
}
@keyframes iniciar{
    from{
        opacity: 0%;
    }
}

.menu label span{
    height: 3px;
    width: 100%;
    background: #353434;
    display: inline-block;
    transition: all 0.5s cubic-bezier(.62,.43,.35,1.47);
}
.menu label{
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    margin-top: 8px;
    line-height: 8px;
    text-align: left;
    z-index: 201;
}

input[type=checkbox]:checked  ~ .button-menu span:nth-child(1){
    width: 100%;
    transform: rotate(45deg) translateY(6px) translateX(6px);
}
input[type=checkbox]:checked  ~ .button-menu span:nth-child(2){
    width: 0;
}

input[type=checkbox]:checked  ~ .button-menu span:nth-child(3){
    width: 100%;
    transform: rotate(-45deg) translateY(-7px) translateX(7px);
}


.contenedor-barra:hover img{
    transform: scale(1.3);
}

input[type=checkbox]:checked  ~ #barra-lateral a .contenedor-barra:hover{
    background-color: #35343442;
}
input[type=checkbox]:checked  ~ #barra-lateral a .contenedor-barra .elemento-oculto{
    display:block;
}

footer{
    display: flex;
    width: 100%;
    z-index: 100;
    background-color: #383838;
    height: 60px;
    color: white;
    margin-top: 40px !important;
    bottom: 0px;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width: 900px) {
    .contenido{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    #barra-lateral{
       width: 0px;
    }
    #checkbox_toggle:checked  ~ #barra-lateral{
        width: 340px;
    }
    .contenedor-barra{
        display: none;
    }
    #checkbox_toggle:checked  ~ #barra-lateral a .contenedor-barra{
        display: flex;
    }
    .button-menu{
        border-radius: 50%;
        background-color: #61a0a83a;
    }
  } 



  .boton-desplegar{
    transition: 0.3s;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 30px;
}
.boton-desplegar-agregar:hover{
    width: 140px;
    
}
.boton-desplegar-reporte:hover{
    width: 190px;
    color: white;
}
.sin-decoracion{
    text-decoration: none;
    color: white;
}
#botones{
    position: fixed;
    bottom: 80px;
    right: 6%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    gap: 8px;
    z-index: 2;
}
#botones-secundario{
    position: fixed;
    bottom: 145px;
    right: 6%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    gap: 8px;
    z-index: 2;
}
.img-bugs{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.agregar-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    width: 100%;
    margin-left: 5px;
    color: white;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-grow: 1;
}

.agregar-texto div{
    text-align: center;
}

.agregar-texto p{
    color: white;
    
}
.boton-sin-estilo{
    border: none; 
    background-color: rgba(255, 0, 0, 0);
}

.botones-img{
    width: 25px; 
    height: 25px;
    cursor:pointer;
}
.contenedor-botones-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}
.noclic{
    pointer-events: none;
}
.clicable{
    pointer-events: all !important; 
}
.dropp-img{
    width: 20px;
    height: 20px;
}
.dropdown-menu{
    position: absolute !important;
    top: 47px !important;
    overflow: hidden;
    transform: none !important;
}
.mostrarDropdown{
    animation: menuShow;
    animation-duration: 0.1s;
    transform-origin:top !important;
}
@keyframes menuShow{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}
.contenedor-mensajes{
    width: 400px;
    height: 400px;
    position: absolute;
    right: 2%;
    top: 56px;
    background-color: white;
    padding: 5px 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px rgb(197, 197, 197);
    display: none;
    overflow-y: scroll;
}
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-thumb{
    background-color: rgb(153, 153, 153);
    border-radius: 13px;
    width: 5px;
}
*::-webkit-scrollbar-track{
    background-color: rgb(219, 219, 219);
}
/* .contenedor-mensajes::-webkit-scrollbar{
    width: 5px;
}
.contenedor-mensajes::-webkit-scrollbar-track{
    background-color: rgba(255, 0, 0, 0);
}
.contenedor-mensajes::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 13px;
    width: 5px;
} */



.expandir-contenedor-mensajes{
    animation-name: expandir-mensajes;
    animation-duration: 0.2s;
    transform-origin: top;
}
.minimizar-contenedor-mensajes{
    animation-name: minimizar-mensajes;
    animation-duration: 0.1s;
    transform-origin: top;
}
.contenedor-cerrado{
    height: 0px;
}
@keyframes expandir-mensajes{
    0% {
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}
@keyframes minimizar-mensajes{
    0% {
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
    }
}

.contenido-mensajes{
    width: 100%;
    height: 100%;
} 
/* #e9ecef */
.mensaje-casilla{
    padding: 5px 10px;
    height: 55px;
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
}
.mensaje-casilla p{
    margin: 0px;
}
.mensaje-casilla:hover{
    background-color: #e9ecef;
}
.divisor-mensajes{
    width: 100%;
    height: 2px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(228, 228, 228) 0%, rgba(228, 228, 228) 78%, rgba(255,255,255,1) 100%);
    margin-top: 5px;
}
.estilo-mensaje{
    font-weight: bold;
}
.nuevo-mensaje{
    width: 10px;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.mensaje-icon{
    background-color: rgb(73, 157, 196);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.cerrado::after{
    content: "";
    background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0.7371323529411764) 27%, rgba(255,255,255,0) 42%);
    /* background-color: white; */
    padding: 5px 10px;
    height: 55px;
    position: absolute;
    width: 100%;
    left: 0px;
    opacity: 35%;
}
.indicador-mensajes{
    position: absolute;
    margin-left: 15px;
    margin-bottom: 15px;
}
.indicador-mensajes div{
    background-color: rgb(73, 157, 196);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}
.indicador-mensajes div p{
    position: relative;
    bottom: 2px;
}
@media screen and (max-width: 500px) {
    .contenedor-mensajes{
        width: 100%;
        right: 0px;
        height: 100vh;
    }
  } 

.no-mensajes{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.img-noNotif{
    width: 100px;
    height: 100px;
    opacity:60% ;
}
.no-mensajes p{
    opacity: 70%;
    
}