.titulo-error{
    margin-top: 40px;
}
.contenido-errores{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: rgb(75, 75, 75);
}
.contenido-errores form{
    width: 100%;
    max-width: 700px;
    
}
.contenedor-titulo-parrafo{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
}
.contenedor-titulo-parrafo p{
    margin-bottom: 40px;
    color: rgb(114, 114, 114);
}
.formulario-errores{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.contenedor-formulario-input p{
    margin: 0px;
}
.input-texto{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 0px 10px;
    height: 30px;
    outline-style: none; 
}
.input-textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 5px;
    padding: 0px 10px;
    height: 30px;
    outline-style: none; 
    width: 100%;
    height: 100px;
}
.input-img{
    margin-top: 5px; 
}
.boton-enviar{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


@media screen and (max-width: 320px) {
    .input-img{
        max-width: 280px;
    }
  } 