/* contenedor general */
.contenedor-tareas{
    padding: 40px 0px 40px 0px;
    /* opacity: 100%;
    animation: aparicionContenedor;
    animation-duration: 1s; */
    }
/* @keyframes aparicionContenedor{
    0%{
        opacity: 0%;
    }
    90%{
        opacity: 0%;
    }
} */ 
.contenedor-vacío{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    max-width: 300px;
    font-weight: bold;
    opacity: 60%;
    text-align: center;
    
}
.primer-p{
    margin-top: 20px;
    font-size: 20px;
    color: black;
}
.segundo-p{
    color: rgba(0, 0, 0, 0.747);
}
.icon-vacio{
    height: 180px;
    width: 180px;
}

/* graficos */
.grafico-circular{
    width: 200px;
    color: rgb(112, 112, 112);
    margin: 8px;
}
.subtitulo-circular{
    text-align: center;
    margin-top: 5px;
}
.contenedor-graficas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.192);
    max-width: 100%;
    /* padding: 20px; */
}
.progreso-global{
    flex-shrink: 1;
    flex-grow: 1;
}
.titulo-graficas{
    text-align: center;
    margin-bottom: 0px;
    color: rgb(78, 78, 78);
}
.contenedor-contenedores-graficas{
    max-width: 100%;
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-graficaLineal{
    margin-top: 10px;
}


.conjunto-de-graficas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.graficas-superiores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor-graficas{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.graficoLineal{
    height: 200px !important;
    width: 400px !important;
}
.leyenda, .contenedor-leyenda{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedor-leyenda{
    margin: 5px;
    align-items: center;
}
.contenedor-leyenda p{
    margin: 0px;
}
.icon-leyenda{
    height: 10px;
    width: 10px;
    margin-right: 5px;
}
.verde{
    background-color: rgba(167,209,111,1);
}
.rojo{
    background-color: rgb(241, 94, 94);
}
.amarillo{
    background-color: rgb(232, 241, 94);
}

@media screen and (max-width: 550px) {
    .grafico-circular{
        margin-top: 50px;
    }
    
    .contenedor-graficas{
        max-width: 98%;
        padding: 0px !important;
    }
    .graficoLineal{
        height: 200px !important;
        width: 400px !important;
    }
  } 

  @media screen and (max-width: 464px) {
    .graficoLineal{
        height: 180px !important;
        width: 300px !important;
    }
  }



/* botones flotantes y busqueda */
.contenedor-checkboxes{
    display: flex;
    flex-direction: column;
    height: 140px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.boton-configuracion:hover{
    width: 270px;
    height: 310px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.164);
    border-radius: 3px;
}
.boton-configuracion:hover .img-bugs{
    display: none !important;
}
.configuracion{
    padding: 18px;
}
.titulo-contenedor-busqueda{
    margin-bottom: 5px;
    text-align: center;
}
#busqueda-de-cursos{
    margin-bottom: 10px;
    border-color: rgba(0, 0, 0, 0.219);
    padding-left: 5px;
    width: 100%;
}
.boton-submit-busqueda{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenedor-busqueda{
    display: none;
    width: 100%;
}
.boton-configuracion:hover .contenedor-busqueda{
    display: block;
}
.casilla-curso{
    white-space: nowrap;
    margin: 3px 0px;
    cursor: pointer;
}
.casilla-contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding-left: 5px;
    cursor: pointer;
}
.botones-select{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: rgb(94, 148, 219);
    justify-content: center;
    margin-bottom: 5px;
}
.botones-select div{
    cursor:pointer;
}
.checkboxAll{
    display: none;
}
.checkedContainer{
    background-color: rgba(53, 59, 59, 0.822);
    color: white;
}
.titulo-barras{
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.603);
    margin-top: 10px;
    margin-bottom: -10px;
}
.contenedor-barra-promedio{
    margin: 70px 0px;
    background: linear-gradient(90deg, rgba(255,38,0,1) 0%, rgba(249,255,0,1) 50%, rgba(167,209,111,1) 100%);
    width: 80%;
    height: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 1px 1px black;
}
.marcador{
    width: 1px;
    height: 25px;
    position: relative;
    box-shadow: 0px 0px 3px 1px rgb(104, 99, 151);
}
.marcador-promedio{
    background-color: rgb(190, 233, 181);
}
.marcador-promedio-global{
    background-color: rgb(228, 176, 176);
}
.mensaje{
    font-size: 12px;
    text-align: center;
    position: relative;
    right: 50px;
    width: 120px;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(104, 99, 151, 0.445);
    color: rgba(0, 0, 0, 0.692);
}
.mensaje-top{
    bottom: 45px;
}
.mensaje-bot{
    top: 33px;
}
.mensaje p{
    margin: 0px;
}
.calificacion{
    text-align: center;
    padding: 0px 5px;
}
.error-curso{
    background-color: rgba(197, 197, 197, 0.452);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: none;
}
.icon-warning{
    position: relative;
    z-index: 1;
    height: 0px;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.icon-warning img{
    width: 190px;
    height: 190px;
    opacity: 60%;
}
.icon-warning p {
    opacity: 90%;
    font-weight: bold;
}
.contenedor-barra-promedio-padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}