:root {
    --colorSuficienteTiempo: hsl(126, 40%, 79%);
    --colorMedioTiempo: hsl(56, 100%, 68%);
    --colorMuyPocoTiempo: hsl(0, 100%, 77%);
    --colorContenedores: #f3f3f3;
  }

#boton-agregar-nuevo-curso{
    margin-top: 20px;
}

.boton-agregar-curso{
    display: flex;
    flex-direction: row;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.089);
    height: 21px;
    width: 85px;
    border-radius: 10px;
    align-items: center;
}

#icon-agregar{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.281);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    justify-content: center;
}

#icon-agregar p{
    bottom: 5px;
    color: white;
    margin-top: -5px;
}

#texto-agregar p{
    margin-top: 15px;
    margin-left: 3px;
    color: rgba(0, 0, 0, 0.747);
}

.contenedor-tarea{
    box-shadow:  0px 0px 3px 1px rgba(82, 82, 82, 0.192);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 700px;
    width: 87%;
    padding: 10px;
    border-radius: 8px;
    
    line-height: 10px;
}

.separacion{
    line-height: 20px;
}

.contenedor-curso-tarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0);
    margin-bottom: 15px;
}

.contenedor-curso-tarea p{
    margin-bottom: 0px;
}

.contenedor-contenedores{
    margin-top: 20px; 
    padding-top: 20px;
    border-radius: 8px;
    width: 90%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color: var(--colorContenedores); 
    max-width: 1000px;
}

.contenedor-contenedores::-webkit-scrollbar {
    width:10px;
}
 
.contenedor-contenedores::-webkit-scrollbar-thumb {
    background: #969696;
    
    border-radius: 20px;
    
}


.botones{
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-grow: 1;
}

.contenedor-dias-botones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20px;
}

/*{% csrf_token %}
{% render_field formAnotaciones.anotacion class="form-control" default="skjds"%}*/

.boton-topic{

    
    bottom: 20px;  
    left: 80%;

}

.contenedor-anotacion{
    width: 100%;
    height: 0px;
    
}

.contenedor-anotacion:target{
    height: 100px;
}

.collapse1:target ~ .contenedor-tarea .contenedor-curso-tarea{
    background-color: red !important;
}

.collapse1{
    position: relative !important;
    top: 4px;
    min-width: 100%;
    border-radius: 13px;
    overflow: hidden;
    
}


.contenedor-contenido-anotacion{
   
    width: 100% !important;
    background-color: white;
    height: 298px;
    padding: 10px;
    line-height: 20px;
}

.desenfoque{
    display: block !important;
}

#pantalla-desenfoque{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    display: none;
}
.sobreponer{
    z-index: 999999;
}

.textarea-anotacion{
    width: 100%;
    height: 100%;
}

.colapsar-css{
    display: none;
}

.titulo{
    cursor: pointer;
    user-select: none;
}

.titulo:hover{
    color: #79B4B7;
}