#boton-agregar-nuevo-curso{
    margin-top: 20px;
}

.boton-agregar-curso{
    display: flex;
    flex-direction: row;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.089);
    height: 21px;
    width: 85px;
    border-radius: 10px;
    align-items: center;
}

#icon-agregar{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.281);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    justify-content: center;
}

#icon-agregar p{
    bottom: 5px;
    color: white;
    margin-top: -5px;
}

#texto-agregar p{
    margin-top: 15px;
    margin-left: 3px;
    color: rgba(0, 0, 0, 0.747);
}

.contenedor-tarea{
    box-shadow:  0px 0px 13px 1px rgba(82, 82, 82, 0.151);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 700px;
    width: 87%;
    padding: 10px;
    border-radius: 8px;
    background-color: #fdf8ee00;
    line-height: 10px;
}
.separacion{
    line-height: 20px;
}

.contenedor-curso-tarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0);
    margin-bottom: 15px;
}

.contenedor-curso-tarea p{
    margin-bottom: 0px;
}

.contenedor-contenedores{
    margin-top: 20px; 
    padding-top: 20px;
    border-radius: 8px;
    width: 90%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color: #9d9d9d00; 
    max-width: 1000px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-grow: 1;
}

.contenedor-dias-botones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20px;
}