
.contenedor-cursos{
    background-color: rgba(245, 245, 245, 0);
    
    width: 600px;
    height: 100%;
    padding: 10px 20px;
    border-radius: 20px;
}


.campo{
    margin-top: 2px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid black;
    border-radius: 0px;
    margin-bottom: 15px;
    border-color: rgb(134, 134, 134);    
}

.campo-noForm{
    padding-left: 12px;
    padding-bottom: 6px;
    color: #474747;
    height: 37px;
}

.campo-noForm:focus{
    outline-style: none;
}

.campo:focus{
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    border-color: black;
}


.select-con-boton{
    display: flex;
    flex-direction: row;
}




.contenido{
    max-width: 700px;
}
